name: 'Multi-version Build Pipeline'

on:
  workflow_dispatch:
    inputs:
      matlab_versions:
        description: "Comma-separated list (e.g. R2025a,R2024b). Empty = Latest 5."
        required: false
        type: string
        default: ""

permissions:
  id-token: write          # Required for AWS OIDC (Packer, Distribute)
  contents: write          # Required for Creating Releases (gh-release)
  attestations: write      # Required for SLSA Attestations
  security-events: write   # Required for uploading Trivy SARIF results
  actions: read            # Sometimes required if the repo is private/internal

jobs:
  prepare-versions:
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-get-versions.yml@main
    with:
      input_versions: ${{ inputs.matlab_versions }}
      search_dir: './releases'

  create-artifacts:
    needs: prepare-versions
    if: ${{ needs.prepare-versions.outputs.matrix != '[]' }}
    strategy:
        fail-fast: false
        max-parallel: 5
        matrix:
          version: ${{ fromJson(needs.prepare-versions.outputs.matrix) }}
    uses: eshans-nexus/actions-templates/.github/workflows/orchestrator-aws-single.yml@main
    with:
      matlab_version: ${{ matrix.version }}
      flavor: 'matlab-linux'
      packer_dir: './packer/v1'
      template_file_path: 'packer/v1/src/metatemplate.json'
      is_supplementary_build: true
      skip_build: true # chnage this to enable builds
    secrets: inherit

  release-artifacts:
    name: Create Aggregate GH Release
    needs: create-artifacts
    uses: eshans-nexus/actions-templates/.github/workflows/orchestrator-gh-release.yml@main
    with:
      target_versions: ${{ needs.prepare-versions.outputs.matrix }}
      files_pattern: "*" 
      release_tag: "Build-${{ github.run_number }}"
      release_title: "Ref Arch Build ${{ github.run_number }}"
      generate_attestations: true
      is_supplementary_build: true
    secrets: inherit