name: Build, scan, stage and release using re-usable workflow

on:
  workflow_dispatch:
    inputs:
      matlab_version:
        description: MATLAB Version
        default: ''
      skip_build:
        description: Test Mode (to mock builds)
        type: boolean
        default: false

permissions:
  id-token: write          # Required for AWS OIDC (Packer, Distribute)
  contents: write          # Required for Creating Releases (gh-release)
  attestations: write      # Required for SLSA Attestations
  security-events: write   # Required for uploading Trivy SARIF results
  actions: read            # Sometimes required if the repo is private/internal

jobs:
  call-orchestrator:
    name: MATLAB Linux
    uses: eshans-nexus/actions-templates/.github/workflows/orchestrator-aws-multi.yml@main
    with:
      matlab_versions: ${{ inputs.matlab_version }}
      flavor: 'matlab-linux'
      template_file_name: 'aws-matlab-template.json'
      skip_build: ${{ inputs.skip_build }}
    secrets: inherit
