name: 'Callable: Describe EC2 Images'

on:
  workflow_call:
    inputs:
      aws-region:
        description: 'The AWS region to run commands in.'
        required: true
        type: string
        default: 'us-east-1'
        
# These permissions are required for the OIDC token exchange.
permissions:
  id-token: write
  contents: read

jobs:
  test-oidc-and-describe-images:
    runs-on: ubuntu-latest
    steps:
    
      - name: Configure AWS Credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ${{ inputs.aws-region }}
          # Role session name is optional but good for CloudTrail auditing
          role-session-name: GitHubActions-OIDC-Test

      - name: Describe EC2 Images
        run: |
          echo "Successfully authenticated with AWS. Attempting to describe private EC2 images..."
          aws ec2 describe-images \
            --owners self \
            --query 'Images[0:10].{ID:ImageId, Name:Name, State:State, Created:CreationDate}' \
            --output table
