name: 'Supplementary Build Orchestrator'

on:
  workflow_dispatch:
    inputs:
      matlab_version:
        description: 'MATLAB Version (e.g. R2025a)'
        required: true
        default: 'R2025a'
      test_mode:
        description: 'Test Mode (Mock Build)'
        type: boolean
        default: true

permissions:
  id-token: write
  contents: write
  attestations: write
  security-events: write

jobs:
  build:
    name: Run packer build
    uses: eshans-nexus/actions-templates/.github/workflows/packer-build-aws.yml@main
    with:
      matlab_version: ${{ inputs.matlab_version }}
      test_mode: ${{ inputs.test_mode }}
    secrets: inherit

  scan:
    needs: build
    name: Run trivy security scan
    uses: eshans-nexus/actions-templates/.github/workflows/trivy-scan-aws.yml@main
    with:
      ami_id: ${{ needs.build.outputs.ami_id }}
      region: ${{ needs.build.outputs.region }}
    secrets: inherit

  patch:
    needs: build
    name: Patch template to use built AMI
    uses: eshans-nexus/actions-templates/.github/workflows/patch-template.yml@main
    with:
      template_path: "./releases/${{ inputs.matlab_version }}/aws-matlab-template.json"
      ami_id: ${{ needs.build.outputs.ami_id }}

  attest:
    needs: [build, patch]
    name: Attest builds to ensure authenticity
    uses: eshans-nexus/actions-templates/.github/workflows/slsa-attest.yml@main
    with:
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'

  release:
    needs: [attest, patch, scan, build]
    if: inputs.test_mode == false
    name: Create GitHub release
    uses: eshans-nexus/actions-templates/.github/workflows/gh-release.yml@main
    with:
      version: ${{ inputs.matlab_version }}
      prerelease: true
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'
      scan_artifact: 'trivy-results'
